<div class="comments">
  <% comments = post.comments %>
  <% for comment in comments %>
    <%= render 'comments/show', :comment => comment %>
  <% end %>
  <%= render 'comments/new', :post => post, :rows => 1 %>
</div>

