<div class="comments">
  <% comments = commentable.comments %>
  <% for comment in comments %>
    <%= render 'comments/show', :comment => comment %>
  <% end %>
  <%= render 'comments/new', :commentable => commentable %>
</div>

