<div class="articles">
  <% if params[:user_id] %>
    <%= render 'shared/stream', :posts => @articles.map {|a| a.post } %>
  <% else %>
    <% if @articles.length > 0 %>
      <% for article in @articles %>
        <%= render 'preview', :article => article %>
      <% end %>
    <% else %>
      <p><%= t :'articles.no_articles' %></p>
    <% end %>
  <% end %>
</div>