<ul class="dropdown-menu-fb persist">
  <% @notifications = user.unread_notifications if controller_name != "notifications" %>
  <% if @notifications.length > 0 %>
    <% for notification in @notifications do %>
      <%= render "notifications/show", :notification => notification %>
    <% end %>
  <% else %>
    <li><span><%= t :'notifications.no_new_notifications' %><span></li>
  <% end %>
  <li class="footer">
    <% if controller_name == "notifications" %>
      <span><%= t :'notifications.has_displayed_all' %></span>
    <% else %>
      <%= link_to "#{t :'notifications.display_all'}", notifications_path(user), :remote => true %>
    <% end %>
  </li>
</ul>