<ul class="dropdown-menu-fb persist">
  <% if !@notifications 
    @notifications = user.latest_notifications
  else 
    @has_all = true 
  end %>
  <% if @notifications.length > 0 %>
    <% for notification in @notifications do %>
      <%= render "notifications/show", :notification => notification %>
    <% end %>
  <% else %>
    <li><span><%= t :'notifications.no_new_notifications' %><span></li>
  <% end %>
  <li class="footer">
    <% if @has_all %>
      <span><%= t :'notifications.has_displayed_all' %></span>
    <% else %>
      <%= link_to "#{t :'notifications.display_all'}", user_notifications_path(user), :remote => true %>
    <% end %>
  </li>
</ul>