<div class="news-stream">
  <% for event in @events %>
    <div class="news-item">
      <% if event.trigger_type == 'Post' %>
        <%= render 'posts/show', :post => event.trigger %>
      <% end %>
    </div>
  <% end %>
</div>