<div class="popover">
  <% case content.class_name %>
  <% when "Post" %>
    <%= render 'posts/show', :post => content %>
  <% when "Article" %>
    <%= render 'Articles/show', :article => content %>
  <% when "Picture" %>
    <%= render 'pictures/show', :picture => content %>
  <% end %>
</div>