<div class="posts <%= "stream" if local_assigns[:stream] %>">
  <% if posts.size > 0 %>
    <% for post in posts %>
      <%= render "shared/post", :post => post %>
    <% end %>
  <% else %>
    <div class="post">
      <p class="empty-stream-holder"><%= t :no_posts %></p>
    </div>
  <% end %>
</div>