<% if @page.has_attribute_group || controller.action_name == "new" %>
  <% if @page.attribute_group %>
  <% else %>
    <div id="page_has_attribute_group_display">
      <p>
        <div>
          <strong><%= t :attribute1 %></strong>:&nbsp;
          <span><%= t :attribute_value1 %></span>
        </div>
        <div>
          <strong><%= t :attribute2 %></strong>:&nbsp;
          <span><%= t :attribute_value2 %></span>
        </div>
      </p>
    </div>
  <% end %>
<% end %>