<div class="row">
  <div class="span1" style="background:whitesmoke;">
    <p>&nbsp;</p>
  </div>
  <div class="span8" style="background:yellow;">
    <p>&nbsp;</p>
  </div>
  <div class="span3" style="background:blue;">
    <p>&nbsp;</p>
  </div>
</div>