$("#friend_event_<%= params[:id] %>").remove();
if ($("#friend_event_list li").length == 0) {
  $("#friend_event_list ul").append("<li><%= t :no_events %></li>")
}
var num = $("#friend_event_list .dropdown-toggle .badge").text();
num = parseInt(num);
if (num > 1) {
  $("#friend_event_list .dropdown-toggle .badge").text(String(num-1));
} else {
  $("#friend_event_list .dropdown-toggle .badge").remove();
}