<% content_for(:page_news_tab) do %>
  <li id="page_news_tab" class="active">
    <a href="#page_news_holder" data-toggle="tab"><%= t :news %></a>
  </li>
<% end %>
<% content_for(:page_news) do %>
  <% if @events = @page.events  %>
    <%= render 'shared/news' %>
  <% else %>
  <% end %>
<% end %>