<tr class="nested-fields">
  <td><%= f.input :label, :wrapper => :nolabel, 
                          :input_html => {:class => "input-mini", :maxlength=>"4"}, 
                          :placeholder => "#{t :property_label}" %></td>
  <td>:&nbsp;</td>
  <td><%= f.input :value, :wrapper => :nolabel, 
                          :class => "input-large", 
                          :placeholder => "#{t :property_value}" %></td>
  <td>
    <%= link_to_remove_association "#{t :delete}", f %>
  </td>
</tr>
