<tr class="nested-fields">
  <td><%= f.text_field :label, :class => "input-mini", :placeholder => "#{t :property_label}" %></td>
  <td>:&nbsp;</td>
  <td><%= f.text_field :value, :class => "input-small", :placeholder => "#{t :property_value}" %></td>
  <td>
    <%= link_to_remove_association "#{t :delete}", f %>
  </td>
</tr>
