<div class="pages">
  <% if params[:user_id] %>
    <%= render 'shared/stream', :posts => @pages.map {|p| p.post } %>
  <% else %>
    <% if @pages.length > 0 %>
      <% for page in @pages %>
        <%= render 'preview', :page => page %>
      <% end %>
    <% else %>
      <p><%= t :'pages.no_pages' %></p>
    <% end %>
  <% end %>
</div>