<% title t('pictures.my_galleries')%>
<div class="page-header no-margin">
  <h2><%= t :'pictures.my_galleries' %></h2>
</div>
<ul class="galleries">
  <% for gallery in @galleries do %>
    <li class="gallery">
      <div class="caption">
        <h4>
          <%= gallery.title %>
          <small><%= t 'pictures.num_pictures_in_gallery', :num => gallery.pictures.length %></small>
        </h4>
      </div>
      <%= gallery_show(gallery) %>
    </li>
  <% end %>
</ul>
