<% size = user.num_unread_follows %>
<li class="dropdown follows pull-right">
  <% if size > 0 %>
    <%= my_link_to nil, "#", :icon => "icon-group icon-large", :badge => size, 
                        :class => "dropdown-toggle",
                        :'data-toggle' => "dropdown-persist" %>
  <% else %>
    <%= my_link_to nil, "#", :icon => "icon-group icon-large", :class => "dropdown-toggle",
                        :'data-toggle' => "dropdown-persist" %>
  <% end %>
  <%= render 'follows/index', :user => user %>
</li>
