<div class="stream">
  <% if posts.size > 0 %>
    <% posts.each do |post| %>
      <%= render 'posts/show', :post => post %>
    <% end %>
  <% else %>
    <div class="stream-post">
      <p class="empty-stream-holder"><%= t :no_posts %></p>
    </div>
  <% end %>
</div>
