/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.Jcrop
 *= require redactor-rails
 *= require_tree .
*/
.grey {
	color: #999999;
}

.blue {
  color: #08C;
}

.smoke {
  color: whitesmoke;
}

.white {
  color: white;
}

.right-align {
  text-align: right;
}

.body {
  min-height: 600px;
}

.delete {
  margin-left: 10px;
}

footer {
  background: #252525;
  margin-top: 20px;
  padding-top: 16px;
}

footer .floor {
  padding-top: 10px;
  background: #1B1B1B;
}

footer .floor p {
  color: #999;
}

footer h3 {
  color: #999;
}

footer a,
footer a:hover {
  color: #999;
}

footer ul li {
  color: #999;
}

/* fix Jcrop and Twitter bootstrp conflict */
.jcrop-holder img {max-width: none}
#cropbox-preview { max-width: none }

.small-thumb { width: 50px; height: 50px; }

.form-inline input[type="checkbox"] {
  line-height: 18px;
  margin: 5px 0px 7px;
}

.page-header-condensed {
  padding-bottom: 6px;
  margin-bottom: 6px;
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
}


.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4 {
  color: white;
}

.avatar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  width: 45px;
  height: 45px;
  
  &.small {
    width: 35px;
    height: 35px;
  }
}

.pinable {
  position: relative;
}

.pinable a.edit {
  position: absolute;
  right: 0;
  top: 0;
}

.pinable .pin-top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.pinable .pin-top18-right15 {
  position: absolute;
  right: 15px;
  top: 18px;
}

.pinable .pin-bottom5-right {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.pinable .pin-top7-left {
  position: absolute;
  left: 0;
  top: 7px;
}

.pinable .pin-top7-left5 {
  position: absolute;
  left: 5px;
  top: 7px;
}

.pinable .pin-right {
  position: absolute;
  right: 0;
}

.pinable .pin-right8 {
  position: absolute;
  right: 8px;
}

.max-width {
  width: 100%;
  box-sizing: border-box; /* css3 rec */
  -moz-box-sizing: border-box; /* ff2 */
  -ms-box-sizing: border-box; /* ie8 */
  -webkit-box-sizing: border-box; /* safari3 */
  -khtml-box-sizing: border-box; /* konqueror */
}

.montage {
  width: 40px;
  height: 40px;
}

.actions .divider {
  color: #999999;
  margin: 0 8px;
}

.btn-align {
  padding: 5px 2px;
  vertical-align: top;
  display: inline-block;
}

.clear-float {
  clear: both;
}

.shifter {
  margin-left: 50px;
}

.small-shifter {
  margin-left: 40px;
}