.nav-people {
  background-position: -120px -50px;
  width: 21px;
  background-image: image-url("custom-icons.png");
}

a:hover .nav-people {
  background-position: -120px -80px;
}

.active a:hover .nav-people {
  background-position: -120px -110px;
}

.nav-at {
  width: 22px;
  background-position: -80px -50px;
  background-image: image-url("custom-icons.png");
}

a:hover .nav-at {
  background-position: -80px -80px;
}

.active a:hover .nav-at {
  background-position: -80px -110px;
}

.nav-about {
  width: 22px;
  background-position: -40px -50px;
  background-image: image-url("custom-icons.png");
}

a:hover .nav-about {
  background-position: -40px -80px;
}

.active a:hover .nav-about {
  background-position: -40px -110px;
}

.nav-cog {
  width: 22px;
  background-image: image-url("glyphicons/glyphicons_019_cogwheel.png");
}