.navbar li [class^="nav-"] {
  display: inline-block;
  height: 24px;
}

.navbar li b {
  display: inline-block;
  line-height: 24px;
}

.navbar .nav .divider-vertical {
  height: 45px;
}

.navbar .nav > form {
  margin-top: 0px;
}

.navbar .brand {
  font-size: 30px;
}

.navbar .nav > li > label {
  display: inline-block;
  padding: 12px 10px 4px;
  line-height: 19px;
}


.navbar .nav li a > .badge {
  vertical-align: top;
}

.navbar input[type="text"],
.navbar input[type="submit"],
.navbar input[type="password"],
.navbar .btn {
  margin: 8px 2px 0;
}

