// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-component {
  position: relative;
}

.page-hidden-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

#poster_group.thumbnails {
  margin-left: 0;
}

#poster_group .thumbnail {
  margin-bottom: 15px;
}

#main_section .carousel-control {
  top: 48%;
}


